<!doctype html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html class="no-js"><!--<![endif]-->
<head>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="keywords" content="HTML5 Template" />
	<meta name="description" content="">
	<meta name="author" content="">
  <meta name="google-site-verification" content="Qz_zpCpdci7O3lm9lbWOfb3miLlAymhuZ3La_it7RRg" />


	<title></title>

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Favicon -->
	<link rel="shortcut icon" href="http://gosteiclub-12bd.kxcdn.com/images/favicon.png">

	<!-- Google Webfont-->
	<link href='http://fonts.googleapis.com/css?family=Vampiro+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,700,800' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,100,100italic,300,300italic,600,700' rel='stylesheet' type='text/css'>


	<!--<link rel="stylesheet" href="http://gosteiclub-12bd.kxcdn.com/styles/theme.css">-->


    <!-- build:css(.tmp) styles/style.css -->
      <link rel="stylesheet" href="styles/theme.css">
    	<link rel="stylesheet" href="styles/style.css">
    <!-- endbuild -->

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- MODERNIZR -->
	<script src="scripts/modernizr.custom.js"></script>

</head>
<body id="page-top" ng-app="gosteiclubApp">

<div id="body">

  <div ng-controller="MenuCtrl" >
  <!-- HEADER -->
  <header id="headerMenu">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button ng-show="showMenuItems" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="  margin-left: 0px; margin-top: -5px;">
            <img id="logoHome" src="{{ 'LOGO_IMG' | translate}}" width="{{ 'LOGO_SIZE' | translate}}" />
          </a>

        </div>
        <div ng-show="!showMenuItems" class="itemNext">
          <button ng-show="!showMenuItems" ng-disabled="isStepButtonDisabled"
                  ng-class="isStepButtonDisabled ? 'botaoMenuDisable' : 'botaoMenu'"
                  ng-click="nextStep();">{{ 'FIELDS.BUTTON_NEXT' | translate}}</button>
        </div>

        <div id="navbar" ng-show="showMenuItems" class="navbar-collapse collapse">

          <ul  class="nav navbar-nav navbar-right nav-collapse">

            <li ng-repeat="item in menu">
              <a class="page-scroll" href="{{item.href}}">{{item.nome}}</a>
            </li>

            <li id="itemNext"> </li>

            <li style="display: none;" id="itemMenuEntrar">
              <button onclick="$('#loginForm').css('display', 'none');$('#formFields').css('display', 'block');$('#lname').focus();" class="botaoMenu">{{ 'MENU.IWANT_PARTICIPATE' | translate}}</button>
            </li>
          </ul>

          <ul ng-show="showMenuHome" class="nav navbar-nav navbar-right nav-collapse" style="display: none;">
            <li><a class="page-scroll" href="{{menu.link_depoimentos.href}}">{{menu.link_depoimentos.nome}}</a></li>
            <li><a class="page-scroll" href="{{menu.link_amostras.href}}">{{menu.link_amostras.nome}}</a></li>
          </ul>


        </div>
      </div>
    </nav>

	</header>
  </div>

	<div ng-view="" id="mainView" autoscroll="true"></div>

  <div class="footer-copy" style="padding-top: 2px; display: none;" id="divPartners">
  <div id="content">
    <iframe id="iframePartners" src="" frameborder="0" scrolling="no" height="0px" width="100%"></iframe>
  </div>
  </div>



	<!-- FOOTER / COPYRIGHT -->
	<div class="footer-copy" ng-controller="FooterCtrl">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<p>&copy; {{ 'FOOTER.DESC' | translate}}</p>
				</div>

        <div class="col-md-2" ng-show="showFooter">
          <a class="term-popup" href="" ng-click="showTermos()">{{ 'FOOTER.TERMS_CONDITIONS' | translate}}</a>
        </div>

        <div class="col-md-2" ng-show="showFooter">
          <a class="term-popup" href="" ng-click="showPoliticaPrivacidade()">{{ 'FOOTER.PRIVACY_POLICY' | translate}}</a>
        </div>

				<div class="col-md-2" ng-show="showFooter">
					<a  href="#page-top">{{ 'FOOTER.IWANT_PARTICIPATE' | translate}}</a>
				</div>
			</div>
		</div>
	</div>
	<!-- FOOTER / COPYRIGHT -->
</div>

<!-- TERMS / POPUP -->
<div class="overlay-dark"></div>
<div class="terms">
  <span class="t-close fa fa-close"></span>
  <h3>{{titleModal}}:</h3>

  <div data-ng-bind-html="textModal"></div>

</div>



    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-61389086-1', 'auto');
       //ga('send', 'pageview');
    </script>




<!-- Integração com Allin -->
  <script src="//i.btg360.com.br/lc.js" type="text/javascript"></script>
  <script type="text/javascript">__blc['id'] = "5942";</script>



	<!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-utils/ui-utils.js"></script>
    <script src="bower_components/angular-bootstrap-show-errors/src/showErrors.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/SHA-1/sha1.js"></script>
    <script src="bower_components/angulartics/src/angulartics.js"></script>
    <script src="bower_components/angular-ui-mask/dist/mask.js"></script>
    <script src="bower_components/re-tree/re-tree.js"></script>
    <script src="bower_components/ng-device-detector/ng-device-detector.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angulartics-google-analytics/lib/angulartics-google-analytics.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

      <!-- build:js({.tmp,app}) scripts/scripts.js -->
      <script src="scripts/app.js"></script>
      <script src="scripts/controllers/main.js"></script>
      <script src="scripts/controllers/perguntas.js"></script>
      <script src="scripts/controllers/header.js"></script>
      <script src="scripts/controllers/home.js"></script>
      <script src="scripts/controllers/footer.js"></script>
      <script src="scripts/controllers/menu.js"></script>

      <script src="scripts/directives/slickslider.js"></script>

			<script src="scripts/services/utils.js"></script>
			<script src="scripts/services/user.js"></script>
      <script src="scripts/services/campaings.js"></script>
      <script src="scripts/services/menu.js"></script>
      <script src="scripts/services/products.js"></script>
      <script src="scripts/services/login.js"></script>
      <script src="scripts/services/canal.js"></script>
      <script src="scripts/services/allin.js"></script>
      <script src="scripts/services/cep.js"></script>
      <script src="scripts/services/coreg.js"></script>
      <script src="scripts/services/sessionLanding.js"></script>
      <script src="scripts/services/termsConditions.js"></script>

      <script src="scripts/providers/appTranslateProviderBR.js"></script>
      <script src="scripts/providers/appTranslateProviderFR.js"></script>


        <!-- endbuild -->


        <!-- build:js({.tmp,app}) scripts/theme.js -->
		    <script src="scripts/vendor/jquery.easing.min.js"></script>
		    <script src="scripts/vendor/flex-slider/jquery.flexslider.js"></script>
		    <script src="scripts/vendor/owl-carousel/owl.carousel.js"></script>
		    <script src="scripts/vendor/slick/slick.js"></script>
		    <script src="scripts/vendor/mc/jquery.ketchup.all.min.js"></script>

	    <!-- endbuild -->

<script>

 /* $(document).ready(function($) {
    "use strict";

    // Anchor Smooth Scroll
    $('body').on('click', '.page-scroll', function(event) {
      var $anchor = $(this);
      $('html, body').stop().animate({
        scrollTop: $($anchor.attr('href')).offset().top
      }, 1500, 'easeInOutExpo');
      event.preventDefault();
    });
  });*/

  // Custom Popup
  $(".term-popup").on("click", function() {
    $(".terms").addClass("terms-active");
    $(".overlay-dark").addClass("active");
  });

  $(".t-close").on("click", function() {
    $(".terms").removeClass("terms-active");
    $(".overlay-dark").removeClass("active");
  });


  // Fixed Header
  $(window).scroll(function() {
  var value = $(this).scrollTop();

  if (value > 150){

    $("header").css("background", "#000000").css("padding", "0px 0px 13px");
    $("itemMenuEntrar").css("display", "block");

  } else {

    $("header").css("background", "transparent").css("padding", "20px 0px 20px");
    $("itemMenuEntrar").css("display", "none");
  }

  });
</script>
</body>
</html>
