<script>
  $("header").css("background", "#000000").css("padding", "0px 0px 13px");
  $("#entrarLI").css("display", "none");
</script>
<!-- INFO BOXES -->
<section class="info-content" id="degraca">
  <div class="container">
    <div class="content-head">
      <h3 style="margin-top: 50px;">De Graça?</h3>

      <p>Sim, de graça. Nosso objetivo é levar a opinião sobre a qualidade dos produtos para todos os participantes do
        gostei.club. Aproximando as marcas dos consumidores, gerando transparência e informação na hora da compra. </p>
    </div>
    <div class="row">
      <div class="col-md-4 ic-inner">
        <img src="http://gosteiclub-12bd.kxcdn.com/images/xtra/1.jpg" class="img-responsive" alt=""/>
        <h4>Roupas e Acessórios</h4>

        <p>
        <ul class="space40" style="color:#898989;">
          <li><i class="fa fa-check"></i> Camisetas, Camisas</li>
          <li><i class="fa fa-check"></i> Calças, Bermudas</li>
          <li><i class="fa fa-check"></i> Vestidos, Saias, Bijuterias</li>
          <li><i class="fa fa-check"></i> Bonés, Chapéus, Perfumes</li>
          <li><i class="fa fa-check"></i> Muitos outros...</li>
        </ul>

        </p>
      </div>
      <div class="col-md-4 ic-inner">
        <img src="http://gosteiclub-12bd.kxcdn.com/images/xtra/2.jpg" class="img-responsive" alt=""/>
        <h4>Eletrônicos e Gadgets</h4>

        <p>
        <ul class="space40" style="color:#898989;">
          <li><i class="fa fa-check"></i> Mouse, Mouse Pad</li>
          <li><i class="fa fa-check"></i> Teclados, Mp3 Players</li>
          <li><i class="fa fa-check"></i> Relógios, Fones</li>
          <li><i class="fa fa-check"></i> Cabos e Conectores</li>
          <li><i class="fa fa-check"></i> Entre outros..</li>
        </ul>

        </p>
      </div>
      <div class="col-md-4 ic-inner">
        <img src="http://gosteiclub-12bd.kxcdn.com/images/xtra/3.jpg" class="img-responsive" alt=""/>
        <h4>Comidas, bebidas e itens de limpeza</h4>

        <p>
        <ul class="space40" style="color:#898989;">
          <li><i class="fa fa-check"></i> Sucos, Refrigerantes</li>
          <li><i class="fa fa-check"></i> Gelatinas e Doces</li>
          <li><i class="fa fa-check"></i> Produtos de Limpeza</li>
          <li><i class="fa fa-check"></i> Utilidades Donésticas</li>
          <li><i class="fa fa-check"></i> E muito mais..</li>
        </ul>

        </p>
      </div>
    </div>

  </div>
</section>
<!-- INFO BOXES -->
