<script>
  $("header").css("background", "#000000").css("padding", "0px 0px 13px");
  $("#entrarLI").css("display", "none");
</script>
<div id="depoimentos" style="height:80px;"></div>
<!-- FEATURES -->

<section id="features">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 style="color:#fff; text-align:center; margin-top:10px; font-size:40px;">DEPOIMENTOS</h2>

        <p style="color:#e2e1e1; margin-bottom:10px; text-align:center;">Várias pessoas já foram selecionadas para
          receber em sua casa, gratuítamente os produtos que enviamos. Faça parte deste clube você também.</p>
      </div>

      <div class="col-md-4" style="margin-bottom:100px;">
        <!-- Download App Section -->
        <div class="space60"></div>
        <div class="feature-content">

          <img src="http://gosteiclub-12bd.kxcdn.com/images/p1.jpg"
               style="width:70px; border-radius: 40px; float:left;">

          <p style="padding-top:5px; ;">"E os meus olhos ficam sorrindo e pelas ruas vão te seguindo"

          <p><b>Pixinguinha</b></p></p>
        </div>
        <div class="feature-content">
          <img src="http://gosteiclub-12bd.kxcdn.com/images/p2.jpg"
               style="width:70px; border-radius: 40px; float:left;">

          <p style="padding-top:5px;">"Tenho oito bandolins em casa. Depois deles, só tenho dois filhos e minha mulher"

          <p><b>Jacob do Bandolim</b></p></p>
        </div>
        <div class="feature-content">
          <img src="http://gosteiclub-12bd.kxcdn.com/images/p3.jpg"
               style="width:70px; border-radius: 40px; float:left;">

          <p style="padding-top:5px;">"hoje. Aprendendo com o povo, pois só o povo ensina essa coisa"

          <p><b>Radamés Gnattali</b></p></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="space60"></div>
        <div class="feature-content">
          <img src="http://gosteiclub-12bd.kxcdn.com/images/p4.jpg"
               style="width:70px; border-radius: 40px; float:left;">

          <p style="padding-top:5px;">"Eu somente sou útil, de alguma forma, através da música."

          <p><b>Heitor Villa-Lobos</b></p></p>
        </div>
        <div class="feature-content">
          <img src="http://gosteiclub-12bd.kxcdn.com/images/p5.jpg"
               style="width:70px; border-radius: 40px; float:left;">

          <p style="padding-top:5px;">"Fundamental é mesmo o amor, é impossível ser feliz sozinho"

          <p><b>Tom Jobim</b></p></p>
        </div>
        <div class="feature-content">
          <img src="http://gosteiclub-12bd.kxcdn.com/images/p6.jpg"
               style="width:70px; border-radius: 40px; float:left;">

          <p style="padding-top:5px;">"A vida é a arte do encontro, embora haja tanto desencontro pela vida."

          <p><b>Vinícius de Moraes</b></p></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="space60"></div>
        <div class="feature-content">
          <img src="http://gosteiclub-12bd.kxcdn.com/images/p7.jpg"
               style="width:70px; border-radius: 40px; float:left;">

          <p style="padding-top:5px;">"Beija-me com todo o teu amor, senão eu morro de ciúme"

          <p><b>Cyro Monteiro</b></p></p>
        </div>
        <div class="feature-content">
          <img src="http://gosteiclub-12bd.kxcdn.com/images/p8.jpg"
               style="width:70px; border-radius: 40px; float:left;">

          <p style="padding-top:5px;">"Nas cinzas do meu sonho Um hino então componho"

          <p><b>Elizeth Cardoso</b></p></p>
        </div>
        <div class="feature-content">
          <img src="http://gosteiclub-12bd.kxcdn.com/images/p9.jpg"
               style="width:70px; border-radius: 40px; float:left;">

          <p style="padding-top:5px;">"No estilo choro, o violão se caracteriza por frases de contraponto"

          <p><b>Raphael Rabello</b></p></p>
        </div>
      </div>
    </div>
  </div>
</section>
