

<!-- INTRO -->
<section id="intro" class="intro4">

  <div class="container">
    <div class="row">


      <div class="col-md-7">
        <h3
          style="font-weight: 300; letter-spacing: -1px; color:#fdb72c;  font-size:36px; font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif; margin-bottom:5px">
          Receba Produtos Grátis em Casa!</h3>

        <div class="col-md-14" style="  font-size: 16px;
  color: #fff;
  font-weight: 200;
  font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif; margin-bottom:3%;">Faça parte do nosso Clube de Oportunidades, receba produtos em casa sem pagar nada e nos conte o que achou!
        </div>

        <img class="img-responsive" src="images/bg_home.png" alt="" style="">
      </div>

      <div class="col-md-5 sub-form" id="loginForm" style="display: none">
        <div id="sub-form">
          <form class="subscribe" novalidate id="inviteLogin">

            <h4 style="margin-top:-15px; margin-bottom:20px; text-align:left; font-weight: 500; color:#888585;">O Gostei
              é 100% Grátis</h4>

            <div>

              <h5 ng-style="{'background-color': bgMsgLoginColor}" class="sub-form-h5"
                  style="text-align:left; padding-left:54px;" id="messageStatusLogin">Digite seu email para entrar!</h5>


              <input ng-style="{'background-color': bgEmailLoginColor}" type="email" name="email" id="emailLogin" class="lname"
                     placeholder="exemplo@email.com" ng-model="user.email">

              <div class="clearfix"></div>
              <div class="space20"></div>

              <button type="button" ng-disabled="disableButton"
                      ng-class="disableButton ? 'btn-main-disable btn-center' : 'btn-main btn-center'"
                      ng-click="login(user)">Entrar
              </button>

              <div class="pos_bt" style="text-align: center; padding-top: 15px;">
                <span ><a href="" ng-click="showCheckoutForm()">ou cadastre-se</a></span>
              </div>

            </div>

          </form>
        </div>
      </div>


      <div class="col-md-5 sub-form"  id="formFields">
        <div id="sub-form">
          <form class="subscribe" novalidate id="invite">

            <h4 style="margin-top:-15px; margin-bottom:20px; text-align:left; font-weight: 500; color:#888585;">O Gostei
              é 100% Grátis</h4>

            <div ng-show="showFormFields">

              <h5 ng-style="{'background-color': bgMsgColor}" class="sub-form-h5"
                  style="text-align:left; padding-left:54px;" id="messageStatus">Cadastre-se e Participe!</h5>

              <input ng-style="{'background-color': bgUserColor}" type="text" name="lname" id="lname" class="lname"
                     placeholder="nome" ng-model="user.name">
              <input ng-style="{'background-color': bgEmailColor}" type="email" name="email" id="email" class="e-mail"
                     placeholder="exemplo@email.com" ng-model="user.email">

              <select ng-style="{'background-color': bgGenderColor}" class="sexo" name="gender" id="gender"
                      ng-model="user.gender">
                <option value="" disabled selected>&nbsp;&nbsp;sexo</option>
                <option value="F">&nbsp;&nbsp;Feminino</option>
                <option value="M">&nbsp;&nbsp;Masculino</option>
              </select>

              <input type="checkbox" ng-model="user.terms" name="checkboxG1" checked id="checkboxG1"
                     class="css-checkbox" REQUIRED/>
              <input type="checkbox"  name="checkboxG1" checked id="checkboxG1" class="css-checkbox" REQUIRED/>
              <label for="checkboxG1" class="css-label" style="padding-top:3px;"><span>Concordo com os <a class="term-popup" href="">Termos e Condições</a></span></label>

              <div class="clearfix"></div>
              <div class="space20"></div>

              <div class="pos_bt">
                <button id="checkoutButton" class="btn-main btn-center" type="button" ng-disabled="disableButton"
                        ng-class="disableButton ? 'btn-main-disable btn-center' : 'btn-main btn-center'"
                        ng-click="checkout(user)">Quero Participar! <i class="i-free-label"></i>
                </button>
              </div>

              <div class="pos_bt" style="text-align: center; padding-top: 15px;">
                <span ><a href="" ng-click="showLoginForm()">ou acesse sua conta</a></span>
              </div>
            </div>


          </form>
        </div>


      </div>


    </div>

    <!-- ABOUT / INFO CONTENT -->


  </div>
  </div>
</section>
<!-- INTRO -->


<!-- FEATURES -->
<section id="features"
         style="background:  url(images/amostragratis.jpg) repeat-x top; background-size:85%; height:150px; ">

  <div class="container">

    <div class="row" id="degraca" ></div>
  </div>
</section>
<!-- FEATURES -->


<!-- INFO BOXES -->
<section class="info-content" style="padding-top: 50px;">
  <div class="container">
    <div class="content-head">
      <h3 style="margin-bottom:10px;">De Graça?</h3>

      <p>Sim, de graça. Nosso objetivo é levar a opinião sobre a qualidade dos produtos para todos os participantes do
        gostei.club. Aproximando as marcas dos consumidores, gerando transparência e informação na hora da compra. </p>
    </div>
    <div class="row">
      <div class="col-md-4 ic-inner">
        <img src="http://gosteiclub-12bd.kxcdn.com/images/xtra/1.jpg" class="img-responsive" alt=""/>
        <h4>Roupas e Acessórios</h4>

        <p>
        <ul class="space40" style="color:#898989;">
          <li><i class="fa fa-check"></i> Camisetas, Camisas</li>
          <li><i class="fa fa-check"></i> Calças, Bermudas</li>
          <li><i class="fa fa-check"></i> Vestidos, Saias, Bijuterias</li>
          <li><i class="fa fa-check"></i> Bonés, Chapéus, Perfumes</li>
          <li><i class="fa fa-check"></i> Muitos outros...</li>
        </ul>

        </p>
      </div>
      <div class="col-md-4 ic-inner">
        <img src="http://gosteiclub-12bd.kxcdn.com/images/xtra/2.jpg" class="img-responsive" alt=""/>
        <h4>Eletrônicos e Gadgets</h4>

        <p>
        <ul class="space40" style="color:#898989;">
          <li><i class="fa fa-check"></i> Mouse, Mouse Pad</li>
          <li><i class="fa fa-check"></i> Teclados, Mp3 Players</li>
          <li><i class="fa fa-check"></i> Relógios, Fones</li>
          <li><i class="fa fa-check"></i> Cabos e Conectores</li>
          <li><i class="fa fa-check"></i> Entre outros..</li>
        </ul>

        </p>
      </div>
      <div class="col-md-4 ic-inner" >
        <img src="http://gosteiclub-12bd.kxcdn.com/images/xtra/3.jpg" class="img-responsive" alt=""/>
        <h4>Comidas, bebidas e itens de limpeza</h4>

        <p>
        <ul class="space40" style="color:#898989;">
          <li><i class="fa fa-check"></i> Sucos, Refrigerantes</li>
          <li><i class="fa fa-check"></i> Gelatinas e Doces</li>
          <li><i class="fa fa-check"></i> Produtos de Limpeza</li>
          <li><i class="fa fa-check"></i> Utilidades Donésticas</li>
          <li><i class="fa fa-check"></i> E muito mais..</li>
        </ul>

        </p>
      </div>


    </div>
    <div id="oportunidade" style="height: 80px;"></div>
  </div>


  <!-- FOOTER / COPYRIGHT -->

  <div class="container" style=" margin-bottom:-100px;" >


    <div class="content-head">
      <h3 style="">OPORTUNIDADES DO MOMENTO</h3>

      <p>Veja alguns produtos que estamos testando neste momento e clique para participar: </p>
    </div>

    <div class="col-md-14">
      <div ng-repeat="product in products" class="col-md-2 product">

        <center><img src="http://gosteiclub-12bd.kxcdn.com/images/products/{{product.image}}" class="product-image"/></center>
        <h3 class="product-title">{{product.name}}</h3>
        <h4 class="product-subtitle">{{product.quantity}} UNIDADES / GRÁTIS!</h4>
        <a id="link_{{product._id}}" class="product-linkbutton " ng-click="showCheckoutForm()">EU QUERO!</a>
      </div>
    </div>

  </div>
</section>
<!-- INFO BOXES -->

<div id="depoimentos" style="height: 150px;"></div>
<!-- FEATURES -->

<section id="features" style="padding-top: 50px;">
  <div class="container" >
    <div class="row">
      <div class="col-md-12">
        <h2 style="color:#fff; text-align:center; margin-top:10px; font-size:40px;">DEPOIMENTOS</h2>

        <p style="color:#e2e1e1; margin-bottom:10px; text-align:center;">Várias pessoas já foram selecionadas para
          receber em sua casa, gratuítamente os produtos que enviamos. Faça parte deste clube você também.</p>
      </div>

      <div class="col-md-4" style="margin-bottom:100px;">

        <div class="space60"></div>
        <div class="feature-content">

          <img src="images/p1.jpg"
               style="width:70px; border-radius: 40px; float:left;">

          <p style="padding-top:5px; ;">"Adorei receber os produtos na minha casa"

          <p><b>Jacira Pacheco</b></p></p>
        </div>
        <div class="feature-content">
          <img src="images/p2.jpg"
               style="width:70px; border-radius: 40px; float:left;">

          <p style="padding-top:5px;">"Produtos novos na minha casa, sem pagar nada? Claro que quero."

          <p><b>Alcione Herzog</b></p></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="space60"></div>
        <div class="feature-content">
          <img src="images/p6.jpg"
               style="width:70px; border-radius: 40px; float:left;">

          <p style="padding-top:5px;">"Realmente chegou. Agora vou me candidatar para todas as oportunidades!"

          <p><b>Livia Rodrigues</b></p></p>
        </div>
        <div class="feature-content">
          <img src="images/p5.jpg"
               style="width:70px; border-radius: 40px; float:left;">

          <p style="padding-top:5px;">"Nem acreditei, chegou certinho pelos correios!"

          <p><b>Lais Santana</b></p></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="space60"></div>
        <div class="feature-content">
          <img src="images/p7.jpg"
               style="width:70px; border-radius: 40px; float:left;">

          <p style="padding-top:5px;">"Nada melhor do que participar deste clube testando produtos"

          <p><b>Lúcia Helena</b></p></p>
        </div>
        <div class="feature-content">
          <img src="images/p8.jpg"
               style="width:70px; border-radius: 40px; float:left;">

          <p style="padding-top:5px;">"Gostei dos produtos e a ideia do site é fantástica!"

          <p><b>Andressa Egas</b></p></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- FEATURES -->


<!-- SCREENSHOTS -->
<section class="shots" id="marcas">
  <div class="container">
    <div class="content-head">
      <h3>Algumas Marcas Testadas</h3>

      <p>Sempre procuramos bons parceiros, com produtos interessantes, para você testar e nos dizer o que acha.</p>
    </div>
    <div class="row">


      <div class="col-md-12">

        <div class="shots-slide"
             slick-slider="{dots: true, arrows: false, speed: 300, centerMode: false, slidesToShow: 4, slidesToScroll: 1, responsive: [{ breakpoint: 1024, settings: { slidesToShow: 3, slidesToScroll: 1, infinite: true, dots: true }}, { breakpoint: 600, settings: { slidesToShow: 2, slidesToScroll: 1 } }, { breakpoint: 480, settings: { slidesToShow: 1, slidesToScroll: 1 }}]}">

          <div class="shots-thumb"><a><img ng-src="http://gosteiclub-12bd.kxcdn.com/images/shots/1.jpg"/></a></div>
          <div class="shots-thumb"><a><img ng-src="http://gosteiclub-12bd.kxcdn.com/images/shots/2.jpg"/></a></div>
          <div class="shots-thumb"><a><img ng-src="http://gosteiclub-12bd.kxcdn.com/images/shots/3.jpg"/></a></div>
          <div class="shots-thumb"><a><img ng-src="http://gosteiclub-12bd.kxcdn.com/images/shots/4.jpg"/></a></div>
          <div class="shots-thumb"><a><img ng-src="http://gosteiclub-12bd.kxcdn.com/images/shots/1.jpg"/></a></div>
          <div class="shots-thumb"><a><img ng-src="http://gosteiclub-12bd.kxcdn.com/images/shots/2.jpg"/></a></div>
          <div class="shots-thumb"><a><img ng-src="http://gosteiclub-12bd.kxcdn.com/images/shots/3.jpg"/></a></div>
          <div class="shots-thumb"><a><img ng-src="http://gosteiclub-12bd.kxcdn.com/images/shots/4.jpg"/></a></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- SCREENSHOTS -->


<script type="text/javascript">

  $(document).ready(function ($) {
    "use strict";

    // Anchor Smooth Scroll
    $('body').on('click', '.page-scroll', function (event) {
      var $anchor = $(this);
      $('html, body').stop().animate({
        scrollTop: $($anchor.attr('href')).offset().top
      }, 1500, 'easeInOutExpo');
      event.preventDefault();
    });
  });

  // Custom Popup
  $(".term-popup").on("click", function () {
    $(".terms").addClass("terms-active");
    $(".overlay-dark").addClass("active");
  });

  $(".t-close").on("click", function () {
    $(".terms").removeClass("terms-active");
    $(".overlay-dark").removeClass("active");
  });

  // Fixed Header
  $(window).scroll(function () {

    if (window.location.hash == '#/') {

      var value = $(this).scrollTop();
      if (value > 50) {
        $("header").css("background", "#000000").css("padding", "0px 0px 13px");
        $("#itemMenuEntrar").css("display", "block");

      } else {
        $("header").css("background", "transparent").css("padding", "20px 0px 20px");
        $("#itemMenuEntrar").css("display", "none");
      }

    } else {
      $("header").css("background", "#000000").css("padding", "0px 0px 13px");
      $("#itemMenuEntrar").css("display", "none");
    }

  });

</script>
<!-- FOOTER -->
