

<!-- INTRO -->
<section id="intro" ng-class="sessionLandingData.isVidencias ? 'introVidencia' : 'intro4'" >

  <div class="container">
    <div class="row">


      <div class="col-md-7">
        <h3
          style="font-weight: 300; letter-spacing: -1px; color:#fdb72c;  font-size:36px; font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif; margin-bottom:5px">{{sessionLandingData.main.title}}</h3>

        <div class="col-md-14" style="  font-size: 16px;
  color: #fff;
  font-weight: 200;
  font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif; margin-bottom:3%;">{{sessionLandingData.main.desc}}
        </div>
        <img id="bonecos" class="img-responsive" src="{{sessionLandingData.bgHome}}" alt="" style="">
      </div>

      <div class="col-md-5 col-lg-5  col-sm-12 sub-form" id="loginForm" style="display: none">

          <form class="subscribe" novalidate id="inviteLogin">

            <h4  id="messageStatusLogin" style="margin-top:-15px; margin-bottom:20px; text-align:left; font-weight: 500; color:#888585;">Digite seu email para entrar!</h4>

            <div>

              <input ng-style="{'background-color': bgEmailLoginColor}" type="email" name="email" id="emailLogin" class="lname"
                     placeholder="exemplo@email.com" ng-model="user.email">

              <div class="clearfix"></div>
              <div class="space20"></div>

              <button type="button" ng-disabled="disableButton"
                      ng-class="disableButton ? 'btn-main-disable btn-center' : 'btn-main btn-center'"
                      ng-click="login(user)">Entrar
              </button>

              <div class="pos_bt" style="text-align: center; padding-top: 15px;">
                <span ><a href="" ng-click="showCheckoutForm()">ou cadastre-se</a></span>
              </div>

            </div>

          </form>

      </div>


      <div class="col-md-5 sub-form"  id="formFields" style="margin-bottom: 15px;">
        <div id="sub-form">
          <form class="subscribe" novalidate id="invite" style="padding: 15px 30px 30px;">

           <!-- <h4 style="margin-top:-15px; margin-bottom:20px; text-align:left; font-weight: 500; color:#888585;">O Gostei
              é 100% Grátis</h4>-->

            <h5  ng-style="{'background-color': bgMsgColor}" class="sub-form-h5"
                 style="text-align:left;" id="messageStatus">O Gostei é 100% Grátis. Participe!</h5>

            <div ng-show="showFormFields">

              <label style="color:#898989;">Nome Completo</label>
              <input ng-style="{'background-color': bgUserColor}" type="text" name="lname" id="lname" class="lname"
                     placeholder="" ng-model="user.name" style="margin-bottom:15px;">

              <label style="color:#898989;">Email</label>
              <input ng-style="{'background-color': bgEmailColor}" type="email" name="email" id="email" class="lname"
                     placeholder="" ng-model="user.email" style="margin-bottom:15px;">

              <label style="color:#898989;">Sexo</label>
              <select ng-style="{'background-color': bgGenderColor}" class="lname" name="gender" id="gender"
                      ng-model="user.gender">
                <option value="" disabled selected>&nbsp;&nbsp;</option>
                <option value="F">&nbsp;&nbsp;Feminino</option>
                <option value="M">&nbsp;&nbsp;Masculino</option>
              </select>

              <div class="clearfix"></div>
              <div class="space20"></div>

              <div class="pos_bt">
                <button id="checkoutButton" class="btn-main btn-center" type="button" ng-disabled="disableButton"
                        ng-class="disableButton ? 'btn-main-disable btn-center' : 'btn-main btn-center'"
                        ng-click="checkoutStepOne(user)">Quero Participar! <i class="i-free-label"></i>
                </button>
              </div>

              <div class="pos_bt" style="text-align: center; padding-top: 15px;">
                <span ><a href="" ng-click="showLoginForm()">ou acesse sua conta</a></span>
              </div>
            </div>


            <div ng-show="showFormFields_STEP2">

              <label style="color:#898989;">Data de Nascimento</label>
              <input ng-style="{'background-color': bgBirthColor}" ui-mask="99/99/9999" type="text" name="birthDate" id="birthDate" class="lname"
                     placeholder="dd/mm/yyyy" ng-model="user.birthDate" style="margin-bottom:15px;">

              <label style="color:#898989;">Celular</label>
              <input ng-style="{'background-color': bgCellphoneColor}" ui-mask="(99) 99999-9999" type="text" name="cellphone" id="cellphone" class="lname"
                     placeholder="(__) _____-____" ng-model="user.cellphone" style="margin-bottom:15px;">

              <label style="color:#898989;">Cep</label>
              <input ng-style="{'background-color': bgZipCodeColor}" ui-mask="99999-999" type="text" name="zipcode" id="zipcode" class="lname"
                     placeholder="_____-___" ng-model="user.address.zipcode" style="margin-bottom:15px;">

              <label style="color:#888585;"><span>* Concordo com os <a class="term-popup" href="">Termos e Condições</a></span></label>

              <div class="clearfix"></div>
              <div class="space20"></div>

              <div class="pos_bt">
                <button id="" class="btn-main btn-center" type="button" ng-disabled="disableButton"
                        ng-class="disableButton ? 'btn-main-disable btn-center' : 'btn-main btn-center'"
                        ng-click="checkoutStepTwo(user)">Entrar
                </button>
              </div>

            </div>


          </form>
        </div>


      </div>




    </div>

    <!-- ABOUT / INFO CONTENT -->


  </div>
  </div>
</section>
<!-- INTRO -->


<!-- FEATURES -->
<section ng-show="sessionLandingData.isAmostras" id="features"
         style="  background: url(http://gosteiclub-12bd.kxcdn.com/images/amostragratis.jpg) repeat-x top;
  background-size: 85%;
  height: 150px;">
</section>
<!-- FEATURES -->
<div class="container">

  <div class="row" id="degraca" ></div>
</div>

<!-- INFO BOXES -->
<section class="info-content" style="padding-top: 50px;">
  <div class="container">
    <div class="content-head" ng-show="sessionLandingData.showDeGraca">
      <h3 style="margin-bottom:10px;">{{sessionLandingData.deGraca.title}}</h3>

      <p>{{sessionLandingData.deGraca.desc}}</p>
    </div>
    <div class="row" ng-show="sessionLandingData.showDeGracaImages">
      <div class="col-md-4 ic-inner">
        <img src="{{sessionLandingData.deGraca.item1.image}}" class="img-responsive" alt=""/>
        <h4>{{sessionLandingData.deGraca.item1.title}}</h4>

        <p>
        <ul class="space40" style="color:#898989;">
          <li><i class="fa fa-check"></i> {{sessionLandingData.deGraca.item1.mark1}}</li>
          <li><i class="fa fa-check"></i> {{sessionLandingData.deGraca.item1.mark2}}</li>
          <li><i class="fa fa-check"></i> {{sessionLandingData.deGraca.item1.mark3}}</li>
          <li><i class="fa fa-check"></i> {{sessionLandingData.deGraca.item1.mark4}}</li>
        </ul>

        </p>
      </div>
      <div class="col-md-4 ic-inner">
        <img src="{{sessionLandingData.deGraca.item2.image}}" class="img-responsive" alt=""/>
        <h4>{{sessionLandingData.deGraca.item2.title}}</h4>

        <p>
        <ul class="space40" style="color:#898989;">
          <li><i class="fa fa-check"></i> {{sessionLandingData.deGraca.item2.mark1}}</li>
          <li><i class="fa fa-check"></i> {{sessionLandingData.deGraca.item2.mark2}}</li>
          <li><i class="fa fa-check"></i> {{sessionLandingData.deGraca.item2.mark3}}</li>
          <li><i class="fa fa-check"></i> {{sessionLandingData.deGraca.item2.mark4}}</li>
        </ul>

        </p>
      </div>
      <div class="col-md-4 ic-inner" >
        <img src="{{sessionLandingData.deGraca.item3.image}}" class="img-responsive" alt=""/>
        <h4>{{sessionLandingData.deGraca.item3.title}}</h4>

        <p>
        <ul class="space40" style="color:#898989;">
          <li><i class="fa fa-check"></i> {{sessionLandingData.deGraca.item3.mark1}}</li>
          <li><i class="fa fa-check"></i> {{sessionLandingData.deGraca.item3.mark2}}</li>
          <li><i class="fa fa-check"></i> {{sessionLandingData.deGraca.item3.mark3}}</li>
          <li><i class="fa fa-check"></i> {{sessionLandingData.deGraca.item3.mark4}}</li>
        </ul>

        </p>
      </div>


    </div>
    <div id="oportunidade" style="height: 80px;" ng-show="sessionLandingData.showOportunidades"></div>
  </div>


  <!-- FOOTER / COPYRIGHT -->

  <div class="container" style=" margin-bottom:-100px;" ng-show="sessionLandingData.showOportunidades">


    <div class="content-head">
      <h3 style="">OPORTUNIDADES DO MOMENTO</h3>

      <p>Veja alguns produtos que estamos testando neste momento e clique para participar: </p>
    </div>


    <div class="pricing">
      <div class="row">
        <div class="col-xs-6 col-md-2" ng-repeat="product in products">
          <div class="panel panel-default text-center" style="border: 1px solid #ededed;">
            <div style="backgound-color:#fff; padding-bottom:10px;">
              <img ng-src="{{product.image}}" style="width:100%;" />
            </div>
            <div class="panel-heading">
              <strong>{{product.name}}</strong>
            </div>
            <ul class="list-group">
              <li class="list-group-item">{{product.quantity}} Unidades <b>Grátis</b></li>
              <li class="list-group-item">
                <a id="link_{{product._id}}" ng-click="showCheckoutForm()" class="btn-main" href="">Eu Quero!</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>


    <!--
      <div ng-repeat="product in products" class="col-md-2 col-sm-2 col-xs-12 product" >

        <img src="{{product.image}}" class="product-image"/>
        <h3 class="product-title" style="height: 44px;">{{product.name}}</h3>
        <h4 class="product-subtitle">{{product.quantity}} UNIDADES / GRÁTIS!</h4>

          <a id="link_{{product._id}}" class="product-linkbutton " ng-click="showCheckoutForm()">EU QUERO!</a>

      </div>-->

  </div>
</section>
<!-- INFO BOXES -->

<div id="depoimentos" style="height: 150px;" ng-show="sessionLandingData.showDepoimentos"></div>
<!-- FEATURES -->

<section id="features" style="padding-top: 50px;" ng-show="sessionLandingData.showDepoimentos">
  <div class="container" >
    <div class="row">
      <div class="col-md-12">
        <h2 style="color:#fff; text-align:center; margin-top:10px; font-size:40px;">DEPOIMENTOS</h2>

        <p style="color:#e2e1e1; margin-bottom:10px; text-align:center;">Várias pessoas já foram selecionadas para
          receber em sua casa, gratuítamente os produtos que enviamos. Faça parte deste clube você também.</p>
      </div>

      <div class="col-md-4" style="margin-bottom:100px;">

        <div class="space60"></div>
        <div class="feature-content">

          <img src="images/p1.jpg"
               style="width:70px; border-radius: 40px; float:left;">

          <p style="padding-top:5px; ;">"Adorei receber os produtos na minha casa"

          <p><b>Jacira Pacheco</b></p></p>
        </div>
        <div class="feature-content">
          <img src="images/p2.jpg"
               style="width:70px; border-radius: 40px; float:left;">

          <p style="padding-top:5px;">"Produtos novos na minha casa, sem pagar nada? Claro que quero."

          <p><b>Alcione Herzog</b></p></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="space60"></div>
        <div class="feature-content">
          <img src="images/p6.jpg"
               style="width:70px; border-radius: 40px; float:left;">

          <p style="padding-top:5px;">"Realmente chegou. Agora vou me candidatar para todas as oportunidades!"

          <p><b>Livia Rodrigues</b></p></p>
        </div>
        <div class="feature-content">
          <img src="images/p5.jpg"
               style="width:70px; border-radius: 40px; float:left;">

          <p style="padding-top:5px;">"Nem acreditei, chegou certinho pelos correios!"

          <p><b>Lais Santana</b></p></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="space60"></div>
        <div class="feature-content">
          <img src="images/p7.jpg"
               style="width:70px; border-radius: 40px; float:left;">

          <p style="padding-top:5px;">"Nada melhor do que participar deste clube testando produtos"

          <p><b>Lúcia Helena</b></p></p>
        </div>
        <div class="feature-content">
          <img src="images/p8.jpg"
               style="width:70px; border-radius: 40px; float:left;">

          <p style="padding-top:5px;">"Gostei dos produtos e a ideia do site é fantástica!"

          <p><b>Andressa Egas</b></p></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- FEATURES -->


<!-- SCREENSHOTS -->
<section class="shots" id="marcas" ng-show="sessionLandingData.showMarcas">
  <div class="container">
    <div class="content-head">
      <h3>{{sessionLandingData.marcas.title}}</h3>

      <p>{{sessionLandingData.marcas.desc}}</p>
    </div>
    <div class="row">


      <div class="col-md-12">

        <div ng-show="sessionLandingData.isRevendas" style="text-align:center;">
          <img ng-src="http://gosteiclub-12bd.kxcdn.com/images/bottom_1.jpg"/>
          <img ng-src="http://gosteiclub-12bd.kxcdn.com/images/bottom_2.jpg"/>
        </div>

        <div ng-show="sessionLandingData.isAmostras" class="shots-slide"
             slick-slider="{dots: true, arrows: false, speed: 300, centerMode: false, slidesToShow: 4, slidesToScroll: 1, responsive: [{ breakpoint: 1024, settings: { slidesToShow: 3, slidesToScroll: 1, infinite: true, dots: true }}, { breakpoint: 600, settings: { slidesToShow: 2, slidesToScroll: 1 } }, { breakpoint: 480, settings: { slidesToShow: 1, slidesToScroll: 1 }}]}">


          <div class="shots-thumb"><a><img ng-src="http://gosteiclub-12bd.kxcdn.com/images/shots/1.jpg"/></a></div>
          <div class="shots-thumb"><a><img ng-src="http://gosteiclub-12bd.kxcdn.com/images/shots/2.jpg"/></a></div>
          <div class="shots-thumb"><a><img ng-src="http://gosteiclub-12bd.kxcdn.com/images/shots/3.jpg"/></a></div>
          <div class="shots-thumb"><a><img ng-src="http://gosteiclub-12bd.kxcdn.com/images/shots/4.jpg"/></a></div>
          <div class="shots-thumb"><a><img ng-src="http://gosteiclub-12bd.kxcdn.com/images/shots/1.jpg"/></a></div>
          <div class="shots-thumb"><a><img ng-src="http://gosteiclub-12bd.kxcdn.com/images/shots/2.jpg"/></a></div>
          <div class="shots-thumb"><a><img ng-src="http://gosteiclub-12bd.kxcdn.com/images/shots/3.jpg"/></a></div>
          <div class="shots-thumb"><a><img ng-src="http://gosteiclub-12bd.kxcdn.com/images/shots/4.jpg"/></a></div>


        </div>
      </div>
    </div>
  </div>
</section>
<!-- SCREENSHOTS -->


<script type="text/javascript">

  $(document).ready(function ($) {
    "use strict";

    // Anchor Smooth Scroll
    $('body').on('click', '.page-scroll', function (event) {
      var $anchor = $(this);
      $('html, body').stop().animate({
        scrollTop: $($anchor.attr('href')).offset().top
      }, 1500, 'easeInOutExpo');
      event.preventDefault();
    });
  });

  // Custom Popup
  $(".term-popup").on("click", function () {
    $(".terms").addClass("terms-active");
    $(".overlay-dark").addClass("active");
  });

  $(".t-close").on("click", function () {
    $(".terms").removeClass("terms-active");
    $(".overlay-dark").removeClass("active");
  });

  // Fixed Header
  $(window).scroll(function () {

    if (window.location.hash == '#/') {

      var value = $(this).scrollTop();
      if (value > 50) {
        $("header").css("background", "#000000").css("padding", "0px 0px 13px");
        $("#itemMenuEntrar").css("display", "block");

      } else {
        $("header").css("background", "transparent").css("padding", "20px 0px 20px");
        $("#itemMenuEntrar").css("display", "none");
      }

    } else {
      $("header").css("background", "#000000").css("padding", "0px 0px 13px");
      $("#itemMenuEntrar").css("display", "none");
    }

  });

</script>
<!-- FOOTER -->
