<script>
  $("header").css("background", "#000000").css("padding", "0px 0px 13px");
  $("#entrarLI").css("display", "none");
</script>
<section class="shots" id="marcas">
  <div class="container">
    <div class="content-head">
      <h3 style="margin-top: 50px;">Algumas Marcas Testadas</h3>

      <p>Sempre procuramos bons parceiros, com produtos interessantes, para você testar e nos dizer o que acha.</p>
    </div>
    <div class="row">


      <div class="col-md-12">

        <div class="shots-slide"
             slick-slider="{dots: true, arrows: false, speed: 300, centerMode: false, slidesToShow: 4, slidesToScroll: 1, responsive: [{ breakpoint: 1024, settings: { slidesToShow: 3, slidesToScroll: 1, infinite: true, dots: true }}, { breakpoint: 600, settings: { slidesToShow: 2, slidesToScroll: 1 } }, { breakpoint: 480, settings: { slidesToShow: 1, slidesToScroll: 1 }}]}">

          <div class="shots-thumb"><a><img ng-src="http://gosteiclub-12bd.kxcdn.com/images/shots/1.jpg"/></a></div>
          <div class="shots-thumb"><a><img ng-src="http://gosteiclub-12bd.kxcdn.com/images/shots/2.jpg"/></a></div>
          <div class="shots-thumb"><a><img ng-src="http://gosteiclub-12bd.kxcdn.com/images/shots/3.jpg"/></a></div>
          <div class="shots-thumb"><a><img ng-src="http://gosteiclub-12bd.kxcdn.com/images/shots/4.jpg"/></a></div>
          <div class="shots-thumb"><a><img ng-src="http://gosteiclub-12bd.kxcdn.com/images/shots/1.jpg"/></a></div>
          <div class="shots-thumb"><a><img ng-src="http://gosteiclub-12bd.kxcdn.com/images/shots/2.jpg"/></a></div>
          <div class="shots-thumb"><a><img ng-src="http://gosteiclub-12bd.kxcdn.com/images/shots/3.jpg"/></a></div>
          <div class="shots-thumb"><a><img ng-src="http://gosteiclub-12bd.kxcdn.com/images/shots/4.jpg"/></a></div>
        </div>
      </div>
    </div>
  </div>
</section>
