
<div id="body">
  <!-- INTRO -->
  <section id="intro" class="intro4" style="margin-top:-2%">

    <div class="container">
      <div class="row">



        <div class="col-md-2" style=" background-color:#ffffff;  border: 3px solid rgba(0, 0, 0, 0);   -webkit-background-clip: padding-box;
    background-clip: padding-box; border-radius:5px; 	">

          <center>
            <img src="images/img_landing/1_cocacola.jpg" style="width:92%; padding:2px; margin-top:10px;" />
          </center>
          <h3 style="color:#000; margin-bottom:15px; font-size:20px; letter-spacing: -1px; font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif; font-weight: 500;">Coca Cola</h3>
          <h4 style="margin-top:-10px; font-size:12px;">50 UNIDADES / GRÁTIS!</h4>
          <a href="#" class="btn-main btn-center"  ng-click="checkout(user)" style="margin-bottom:15px; background-color:#2a78c4; font-weight: 200; line-height: 34px; border-radius:50px;">EU QUERO!</a>

        </div>



        <div class="col-md-2" style=" background-color:#ffffff;  border: 3px solid rgba(0, 0, 0, 0);   -webkit-background-clip: padding-box;
    background-clip: padding-box; border-radius:5px; 	">

          <center>
            <img src="images/img_landing/3_perfume.jpg" style="width:92%; padding:2px; margin-top:10px;" />
          </center>
          <h3 style="color:#000; margin-bottom:15px; font-size:20px; letter-spacing: -1px; font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif; font-weight: 500;">Perfume Lacoste</h3>
          <h4 style="margin-top:-10px; font-size:12px;">50 UNIDADES / GRÁTIS!</h4>
          <a href="#" class="btn-main btn-center"  ng-click="checkout(user)" style="margin-bottom:15px; background-color:#2a78c4; font-weight: 200; line-height: 34px; border-radius:50px;">EU QUERO!</a>

        </div>



        <div class="col-md-2" style=" background-color:#ffffff;  border: 3px solid rgba(0, 0, 0, 0);   -webkit-background-clip: padding-box;
    background-clip: padding-box; border-radius:5px; opacity: 0.9;
    filter: alpha(opacity=90); 	">

          <center>
            <img src="images/img_landing/2_omo_e.jpg" style="width:92%; padding:2px; margin-top:10px;" />
          </center>
          <h3 style="color:#000; margin-bottom:15px; font-size:20px; letter-spacing: -1px; font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif; font-weight: 500;">Omo Líquido</h3>
          <h4 style="margin-top:-10px; font-size:12px;  text-decoration: line-through; ">50 UNIDADES / GRÁTIS!</h4>
          <a href="#" class="btn-main btn-center"  ng-click="checkout(user)" style="margin-bottom:15px; background-color:#2a78c4; font-weight: 200; line-height: 34px; border-radius:50px;">ME AVISE!</a>

        </div>


        <div class="col-md-2" style=" background-color:#ffffff;  border: 3px solid rgba(0, 0, 0, 0);   -webkit-background-clip: padding-box;
    background-clip: padding-box; border-radius:5px; 	">

          <center>
            <img src="images/img_landing/4_hdmi.jpg" style="width:92%; padding:2px; margin-top:10px;" />
          </center>
          <h3 style="color:#000; margin-bottom:15px; font-size:20px; letter-spacing: -1px; font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif; font-weight: 500;">Cabo HDMI</h3>
          <h4 style="margin-top:-10px; font-size:12px;">50 UNIDADES / GRÁTIS!</h4>
          <a href="#" class="btn-main btn-center"  ng-click="checkout(user)" style="margin-bottom:15px; background-color:#2a78c4; font-weight: 200; line-height: 34px; border-radius:50px;">EU QUERO!</a>

        </div>



        <div class="col-md-2" style=" background-color:#ffffff;  border: 3px solid rgba(0, 0, 0, 0);   -webkit-background-clip: padding-box;
    background-clip: padding-box; border-radius:5px; 	">

          <center>
            <img src="images/img_landing/5_0kal.jpg" style="width:92%; padding:2px; margin-top:10px;" />
          </center>
          <h3 style="color:#000; margin-bottom:15px; font-size:20px; letter-spacing: -1px; font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif; font-weight: 500;">Adoçante Zero-Cal</h3>
          <h4 style="margin-top:-10px; font-size:12px;">50 UNIDADES / GRÁTIS!</h4>
          <a href="#" class="btn-main btn-center"  ng-click="checkout(user)" style="margin-bottom:15px; background-color:#2a78c4; font-weight: 200; line-height: 34px; border-radius:50px;">EU QUERO!</a>

        </div>



        <div class="col-md-2" style=" background-color:#ffffff;  border: 3px solid rgba(0, 0, 0, 0);   -webkit-background-clip: padding-box;
    background-clip: padding-box; border-radius:5px; 	">

          <center>
            <img src="images/img_landing/6_batata.jpg" style="width:92%; padding:2px; margin-top:10px;" />
          </center>
          <h3 style="color:#000; margin-bottom:15px; font-size:20px; letter-spacing: -1px; font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif; font-weight: 500;">Pringles</h3>
          <h4 style="margin-top:-10px; font-size:12px;">50 UNIDADES / GRÁTIS!</h4>
          <a href="#" class="btn-main btn-center"  ng-click="checkout(user)" style="margin-bottom:15px; background-color:#2a78c4; font-weight: 200; line-height: 34px; border-radius:50px;">EU QUERO!</a>

        </div>







        <div class="col-md-2" style=" background-color:#ffffff;  border: 3px solid rgba(0, 0, 0, 0);   -webkit-background-clip: padding-box;
    background-clip: padding-box; border-radius:5px; 	">

          <center>
            <img src="images/img_landing/1_cocacola.jpg" style="width:92%; padding:2px; margin-top:10px;" />
          </center>
          <h3 style="color:#000; margin-bottom:15px; font-size:20px; letter-spacing: -1px; font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif; font-weight: 500;">Coca Cola</h3>
          <h4 style="margin-top:-10px; font-size:12px;">50 UNIDADES / GRÁTIS!</h4>
          <a href="#" class="btn-main btn-center"  ng-click="checkout(user)" style="margin-bottom:15px; background-color:#2a78c4; font-weight: 200; line-height: 34px; border-radius:50px;">EU QUERO!</a>

        </div>



        <div class="col-md-2" style=" background-color:#ffffff;  border: 3px solid rgba(0, 0, 0, 0);   -webkit-background-clip: padding-box;
    background-clip: padding-box; border-radius:5px; 	">

          <center>
            <img src="images/img_landing/3_perfume.jpg" style="width:92%; padding:2px; margin-top:10px;" />
          </center>
          <h3 style="color:#000; margin-bottom:15px; font-size:20px; letter-spacing: -1px; font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif; font-weight: 500;">Perfume Lacoste</h3>
          <h4 style="margin-top:-10px; font-size:12px;">50 UNIDADES / GRÁTIS!</h4>
          <a href="#" class="btn-main btn-center"  ng-click="checkout(user)" style="margin-bottom:15px; background-color:#2a78c4; font-weight: 200; line-height: 34px; border-radius:50px;">EU QUERO!</a>

        </div>



        <div class="col-md-2" style=" background-color:#ffffff;  border: 3px solid rgba(0, 0, 0, 0);   -webkit-background-clip: padding-box;
    background-clip: padding-box; border-radius:5px; 	">

          <center>
            <img src="images/img_landing/2_omo.jpg" style="width:92%; padding:2px; margin-top:10px;" />
          </center>
          <h3 style="color:#000; margin-bottom:15px; font-size:20px; letter-spacing: -1px; font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif; font-weight: 500;">Omo Líquido</h3>
          <h4 style="margin-top:-10px; font-size:12px;">50 UNIDADES / GRÁTIS!</h4>
          <a href="#" class="btn-main btn-center"  ng-click="checkout(user)" style="margin-bottom:15px; background-color:#2a78c4; font-weight: 200; line-height: 34px; border-radius:50px;">EU QUERO!</a>

        </div>


        <div class="col-md-2" style=" background-color:#ffffff;  border: 3px solid rgba(0, 0, 0, 0);   -webkit-background-clip: padding-box;
    background-clip: padding-box; border-radius:5px; 	">

          <center>
            <img src="images/img_landing/4_hdmi.jpg" style="width:92%; padding:2px; margin-top:10px;" />
          </center>
          <h3 style="color:#000; margin-bottom:15px; font-size:20px; letter-spacing: -1px; font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif; font-weight: 500;">Cabo HDMI</h3>
          <h4 style="margin-top:-10px; font-size:12px;">50 UNIDADES / GRÁTIS!</h4>
          <a href="#" class="btn-main btn-center"  ng-click="checkout(user)" style="margin-bottom:15px; background-color:#2a78c4; font-weight: 200; line-height: 34px; border-radius:50px;">EU QUERO!</a>

        </div>



        <div class="col-md-2" style=" background-color:#ffffff;  border: 3px solid rgba(0, 0, 0, 0);   -webkit-background-clip: padding-box;
    background-clip: padding-box; border-radius:5px; 	">

          <center>
            <img src="images/img_landing/5_0kal.jpg" style="width:92%; padding:2px; margin-top:10px;" />
          </center>
          <h3 style="color:#000; margin-bottom:15px; font-size:20px; letter-spacing: -1px; font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif; font-weight: 500;">Adoçante Zero-Cal</h3>
          <h4 style="margin-top:-10px; font-size:12px;">50 UNIDADES / GRÁTIS!</h4>
          <a href="#" class="btn-main btn-center"  ng-click="checkout(user)" style="margin-bottom:15px; background-color:#2a78c4; font-weight: 200; line-height: 34px; border-radius:50px;">EU QUERO!</a>

        </div>



        <div class="col-md-2" style=" background-color:#ffffff;  border: 3px solid rgba(0, 0, 0, 0);   -webkit-background-clip: padding-box;
    background-clip: padding-box; border-radius:5px; 	">

          <center>
            <img src="images/img_landing/6_batata.jpg" style="width:92%; padding:2px; margin-top:10px;" />
          </center>
          <h3 style="color:#000; margin-bottom:15px; font-size:20px; letter-spacing: -1px; font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif; font-weight: 500;">Pringles</h3>
          <h4 style="margin-top:-10px; font-size:12px;">50 UNIDADES / GRÁTIS!</h4>
          <a href="#" class="btn-main btn-center"  ng-click="checkout(user)" style="margin-bottom:15px; background-color:#2a78c4; font-weight: 200; line-height: 34px; border-radius:50px;">EU QUERO!</a>

        </div>




        <!-- ABOUT / INFO CONTENT -->

      </div>
    </div>
  </section>
  <!-- INTRO -->
</div>
